.vehicles {
  &-title {
    text-align: center;
    margin: 0 0 70px 0;
  }
  .nexist{
    text-align: center;
    color: #ccc;
  }
}

//Vehicle

.vehicle {
  text-align: center;
  min-height: 305px;
  span{
    width: 100%;
    display: block;
  }
  &-title {
    font-weight: 700;
    margin: 0 0 15px 0;
  }
  &-category {
    color: $secondary-lighter;
    font-size: 14px;
    &-item {
      display: inline !important;
    }
  }
  &-img {
    width: 70%;
    height: auto;
  }
}