.rate-form-wrapper {
  margin: 50px 0;
  padding: 50px 0;
  background-color: $primary;
  color: white;
  .container {
    .form-row {
      margin-bottom: 25px;
      .el-radio__label {
        color: white;
      }
      .el-radio__inner {
        padding: 10px;
        background-color: transparent;
        border: 2px solid white;
      }
      input[type='radio']:checked + label {
        background-color: blue;
      }
    }
    .input-transparent-white {
      input,
      textarea {
        color: white;
        background-color: transparent;
        border: 2px solid white;
        text-align: center;
        &::placeholder {
          color: white !important;
        }
      }
    }
  }
  .submit-btn {
    display: flex;
    justify-content: center;
  }
  .sub{
    text-align: center;
    padding-bottom: 50px;
  }
}
.rate-form-a {
  margin-right: 10px;
  text-decoration: underline !important;
}

//Helpers

.form-rodo .el-radio {
  white-space:normal;
}