* {
  box-sizing: border-box;
}

//Container

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//Sections

main {
  overflow-x: hidden;
  overflow-y: auto;
  > section {
    padding: 70px 0;
  }
}

//Helpers

.no-results {
  text-align: center;
  color: #575757;
}



//Wysiwg editor content

.editor-content{
  h1, h2, h3, h4, h5, h6 { font-weight: 500; }
  h1 { font-size: 40px; }
  h2 { font-size: 36px; }
  h3 { font-size: 32px; }
  h4 { font-size: 28px; }
  h5 { font-size: 24px; }
  h6 { font-size: 20px; }
  p { font-size: 16px; }
  b { font-weight: 800; }
  i { font-style: italic }
  ul {
    list-style: disc;
    margin: 0 0 0 15px;
  }
  ol {
    list-style: decimal;
    margin: 0 0 0 15px;
  }
}

//Media

@media screen and (max-width: 768px) {
  main > section {
    padding: 40px 0;
  }
}

// Other

.text-primary {
  color: $primary;
}

.font-weight-bold {
  font-weight: 500;
}

.text-uppercase {
  text-transform: uppercase;
}
