* { box-sizing: border-box; }

//Container 

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//Sections

main {
  overflow-x: hidden;
  overflow-y: auto;
  > section {
    padding:  70px 0;
  }
}

//Media

@media screen and (max-width: 768px) {
  main > section {
    padding: 40px 0;
  }
}