*, html, body {
  font-family: 'Work Sans', sans-serif;
}

//Headers

h1 { 
  font-size: 36px;
}
h2 { 
  font-size: 42px; 
  font-weight: 700;
}
h3 { 
  font-size: 32px; 
  font-weight: 700;
}
h4 { 
  font-size: 22px; 
}

//Links

a {
  text-decoration: none;
  color: inherit;
}