*, html, body {
  font-family: 'Work Sans', sans-serif;
}

//Headers

h1 { 
  font-size: 36px;
}
h2 { 
  font-size: 32px; 
  font-weight: 600;
}
h3 { 
  font-size: 26px; 
}
h4 { 
  font-size: 22px; 
}
