.comment-wrapper {
  padding: 15px 30px;
  border: 2px solid $secondary-lighter;
  border-radius: 15px;
  margin-bottom: 40px;
  .comment-header {
    color: $primary;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    div{
        width: 33%;
    }
    .comment-title{
        text-align: center;
    }
    div:last-child{
        text-align: right;
    }
  }
  .comment-body {
    text-align: center;
    h5 {
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      color: $secondary;
      margin-bottom: 30px;
    }
  }
}
