table {
  width: 100%;
  border-collapse: separate;
  margin: 0 0 20px 0;
  thead {
    background-color: $primary;
    color: white;
    font-size: 20px;
    text-align: left;
    tr {
      th {
        padding: 15px;
        &:first-child {
          border-radius: 20px 0 0 0;
        }
        &:last-child {
          border-radius: 0 20px 0 0;
        }
      }
    }
  }
  tbody {
    font-size: 20px;
    text-align: left;
    .link {
      display: contents;
    }
    tr {
      transition: background 0.1s;
      &:nth-child(even) {
        background-color: #f3f3f3;
      }
      &:last-child {
        border-bottom: 1px solid;
      }
      &:hover {
        background-color: #dd290021; 
        cursor: pointer;
      }
      th {
        padding: 15px;
        &:first-child {
          text-align: center;
        }
        &.table-cell-button {
          text-align: center;
          &:hover {
            color: $primary;
            cursor: pointer;
          }
        }
        img {
          width: 40px;
          height: auto;
          vertical-align: middle;
        }
      }
    }
  }
}

.com{
  max-width: 20%;
}

.table-responsive {
  margin-bottom: 100px;
}

//Media

@media screen and (max-width: 992px) {
  .table-responsive {
    overflow-X: auto;
  }
}