table {
  width: 100%;
  border-collapse: separate;
  margin: 0 0 20px 0;
  thead {
    background-color: $primary;
    color: white;
    font-size: 20px;
    text-align: left;
    tr {
      th {
        padding: 15px;
        &:first-child {
          border-radius: 20px 0 0 0;
        }
        &:last-child {
          border-radius: 0 20px 0 0;
        }
      }
    }
  }
  tbody {
    font-size: 20px;
    text-align: left;
    .link {
      display: contents;
    }
    tr {
      transition: background 0.1s;
      &:nth-child(even) {
        background-color: #f3f3f3;
      }
      &:hover {
        background-color: #dd290021;
        cursor: pointer;
      }
      td {
        padding: 15px;
        &:first-child {
          text-align: center;
        }
        &.table-cell-button {
          text-align: center;
          &:hover {
            color: $primary;
            cursor: pointer;
          }
        }
        img {
          width: 40px;
          height: auto;
          vertical-align: middle;
        }
      }
    }
  }
}

.com {
  max-width: 20%;
}

.table-responsive {
  margin-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .course-icon,
  .table-cell-button {
    display: none;
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    &:last-child {
      border-bottom: 1px solid $primary;
    }
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 20px;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
