.comment-wrapper {
  padding: 15px 30px;
  border: 2px solid $secondary-lighter;
  border-radius: 15px;
  margin-bottom: 40px;
  .comment-header {
    color: $primary;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    div {
      width: 33%;
    }
    .comment-date {
      font-size: 14px;
    }
    .comment-title {
      text-align: center;
      font-size: 20px;
    }
    div:last-child {
      text-align: right;
    }
  }
  .comment-body {
    text-align: center;
    h4 {
      font-weight: 600;
      margin-bottom: 15px;
      font-size: 18px;
    }
    p {
      color: $secondary;
      margin-bottom: 30px;
    }
  }
}

//Media

@media screen and (max-width: 576px) {
  .comment-wrapper {
    padding: 15px;
    .comment-header {
      flex-wrap: wrap;
      div {
        width: 100%;
        text-align: left;
        &.comment-title {
          text-align: left;
        }
        &:last-child {
          text-align: left;
        }
       
      }
    }
    .comment-body {
      text-align: left;
      p {
        margin: 0;
      }
    }
  }
}