.contact-form {
  &-title {
    margin: 0 0 50px 0;
    text-align: center;
  }
  .el-col {
    margin: 0 0 40px 0;
    position: relative;
  }
  .el-form-item__error {
    left: 25px;
    font-size: 15px;
  }
}

.error-message {
  text-align: center;
  color: #dd2700;
  margin-bottom: 50px;
}

.success-message {
  text-align: center;
  color: #28a745;
  margin-bottom: 50px;
}

//Center class

.center {
  text-align: center;
}
