.page-header {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }
  h5 {
    letter-spacing: 15px;
    margin-bottom: 2rem;
  }
  .header-buttons a:first-child {
    margin-right: 2rem;
  }
}
