.profile-wrapper {
  padding: 0 80px;
  margin-bottom: 50px;
  text-align: center;
  .profile-details {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    .hilight {
      color: $primary;
    }
    .muted {
      color: $secondary;
      margin: 0 0 10px 0;
    }
    margin: 60px 0;
  }
  .muted {
    color: $secondary;
  }
}

//Media

@media screen and (max-width: 600px) {
  .profile-wrapper {
    padding: 0;
    margin: 0;
    .profile-details {
      margin: 30px 0;
      flex-wrap: wrap;
      div {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {

}