.fade {
  &-enter-active, &-leave-active {
    transition: opacity 0.25s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-page {
  &-enter-active, &-leave-active {
    transition: opacity 0.7s;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-up {
  &-enter-active, &-leave-active {
  transition: all 0.5s ease-out;
  }
  &-enter {
    opacity: 0;
    transform: translate3d(0,50px,0);
  }
  &-leave-to {
    display: none;
  }
}

.fade-down {
  &-enter-active, &-leave-active {
    transition: opacity 0.3s, transform 0.2s;
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: translate3d(0,-10px,0);
  }
}