*, html, body , input, textarea, select, button {
  font-family: 'Work Sans', sans-serif;
}

//Headers

h1 { 
  font-size: 36px;
}
h2 { 
  font-size: 42px; 
  font-weight: 700;
}
h3 { 
  font-size: 32px; 
  font-weight: 700;
}
h4 { 
  font-size: 22px; 
}

.section-spacing{
  margin-top: 100px!important;
  margin-bottom: 100px!important;
}

.section-title{
  margin: 0 0 50px;
  text-align: center;
}

//to delete when we will know what to put in empty section. its only placeholder
.empty-section{
  height: 400px;
}

//Links

a {
  text-decoration: none;
  color: inherit;
}